body {
  background-color: rgb(4, 4, 33);
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 0.2fr 0.2fr 0.2fr;
  grid-template-rows: 0.3fr 0.3fr 0.3fr;
  gap: 30px;
  place-items: center;
  /* justify-items: center; */
  align-items: center;
  justify-content: center;
}
.card-Header {
  color: white;
  padding-top: 20px;
  padding-left: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
}
.profile-Container {
  width: 90%;
  height: 545px;
  background-color: rgb(12, 12, 65);
  border-radius: 5%;
  margin-top: 13%;
  grid-row: 1/ 3;
  grid-column: 1/2;
}
.profile-Card {
  width: 100%;
  height: 70%;
  background-color: royalblue;
  border-radius: 5%;
}
.profile-Pic {
  margin-left: 30px;
  margin-top: 40px;
  width: 40%;
  border: solid 5px white;
  border-radius: 50%;
}
.report-Text {
  color: white;
  padding-top: 25px;
  padding-left: 38px;
}
.jeremy-Name {
  color: white;
  padding-left: 30px;
}
.robson-Name {
  color: white;
  padding-left: 30px;
}
.optiontxt-1 {
  color: rgb(97, 130, 229);
  padding-top: 20px;
  padding-left: 38px;
  transition: color 0.3s ease;
}
.optiontxt-1:hover {
  color: white;
}
.optiontxt-2 {
  color: rgb(97, 130, 229);
  padding-left: 38px;
  transition: color 0.3s ease;
}
.optiontxt-2:hover {
  color: white;
}
.optiontxt-3 {
  color: rgb(97, 130, 229);
  padding-left: 38px;
  transition: color 0.3s ease;
}
.optiontxt-3:hover {
  color: white;
}
.work-Container {
  height: 250px;
  width: 100%;
  background-color: rgb(212, 98, 56);
  grid-row: 1/ 2;
  grid-column: 2/3;
  margin-top: 22%;
  border-radius: 10%;
}
.work-Card {
  background-color: rgb(12, 12, 65);
  height: 200px;
  width: 100%;
  border-radius: 8%;
  margin-top: 50px;
  transition: color 0.3s ease;
}
.work-Contents {
  display: flex;
  justify-content: space-between;
}
.work-Card:hover {
  background-color: rgb(42, 42, 123);
}
.play-Container {
  height: 250px;
  width: 100%;
  background-color: rgb(55, 217, 223);
  grid-row: 1/ 2;
  grid-column: 3/4;
  margin-top: 22%;
  border-radius: 10%;
}
.play-Card {
  background-color: rgb(12, 12, 65);
  height: 200px;
  width: 100%;
  border-radius: 8%;
  margin-top: 50px;
  transition: color 0.3s ease;
}
.play-Contents {
  display: flex;
  justify-content: space-between;
}
.play-Card:hover {
  background-color: rgb(42, 42, 123);
}
.study-Container {
  height: 250px;
  width: 100%;
  background-color: rgb(240, 95, 95);
  grid-row: 1/ 2;
  grid-column: 4/5;
  margin-top: 22%;
  border-radius: 10%;
}
.study-Card {
  background-color: rgb(12, 12, 65);
  height: 200px;
  width: 100%;
  border-radius: 8%;
  margin-top: 50px;
  transition: color 0.3s ease;
}
.study-Contents {
  display: flex;
  justify-content: space-between;
}
.study-Card:hover {
  background-color: rgb(42, 42, 123);
}
.exercise-Container {
  height: 250px;
  width: 100%;
  background-color: rgb(56, 226, 102);
  grid-row: 2/ 3;
  grid-column: 2/3;
  border-radius: 10%;
}
.exercise-Card {
  background-color: rgb(12, 12, 65);
  height: 200px;
  width: 100%;
  border-radius: 8%;
  margin-top: 50px;
  transition: color 0.3s ease;
}
.exercise-Content {
  display: flex;
  justify-content: space-between;
}
.exercise-Card:hover {
  background-color: rgb(42, 42, 123);
}
.social-Container {
  height: 250px;
  width: 100%;
  background-color: rgb(97, 44, 233);
  grid-row: 2/ 3;
  grid-column: 3/4;
  border-radius: 10%;
}
.social-Card {
  background-color: rgb(12, 12, 65);
  height: 200px;
  width: 100%;
  border-radius: 8%;
  margin-top: 50px;
  transition: color 0.3s ease;
}
.social-Content {
  display: flex;
  justify-content: space-between;
}
.social-Card:hover {
  background-color: rgb(42, 42, 123);
}
.self-Container {
  height: 250px;
  width: 100%;
  background-color: rgb(219, 239, 86);
  grid-row: 2/ 3;
  grid-column: 4/5;
  border-radius: 10%;
}
.self-Card {
  background-color: rgb(12, 12, 65);
  height: 200px;
  width: 100%;
  border-radius: 8%;
  margin-top: 50px;
  transition: color 0.3s ease;
}
.self-Content {
  display: flex;
  justify-content: space-between;
}
.hours-Text {
  color: white;
  padding-top: 20px;
  padding-left: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 60px;
}
.weeks-Text {
  color: rgb(148, 123, 211);
  padding-left: 23px;
  font-size: 12px;
}
.self-Card:hover {
  background-color: rgb(42, 42, 123);
}
.circle1 {
  height: 5px;
  width: 5px;
  border-radius: 100%;
  background-color: rgb(128, 94, 215);
}
.circle2 {
  height: 5px;
  width: 5px;
  border-radius: 100%;
  background-color: rgb(128, 94, 215);
}
.circle3 {
  height: 5px;
  width: 5px;
  border-radius: 100%;
  background-color: rgb(128, 94, 215);
}
.circle-Group {
  display: flex;
  justify-content: center;
  gap: 2px;
  padding-top: 30px;
  padding-right: 20px;
}
.hours {
  color: white;
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 800px) {
  .main-Grid {
    grid-template-columns: 0.5fr 0.5fr;
    grid-row: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  }
  .play-Container {
    grid-column: 1/2;
    grid-row: 3;
  }
  .study-Container {
    grid-column: 2/3;
    grid-row: 3;
  }
  .social-Container {
    grid-column: 1/2;
    grid-row: 4;
  }
  .self-Container {
    grid-column: 2/3;
    grid-row: 4;
  }
}
@media (max-width: 425px) {
  .main-grid {
    grid-template-columns: 1fr;
    grid-row: repeat(7/ 1.5f);
    justify-content: center;
    padding: 0;
  }
  .profile-Container {
    grid-column: 1/3;
    grid-row: 1;
    height: 180px;
    width: 100%;
    background-color: brown;
  }
  .profile-Card {
    height: 130px;
    width: 100%;
    background-color: aqua;
    /* display: flex;
    justify-content: center; */
  }
  .profile-Pic {
    width: 80px;
    border: solid white 3px;
    margin-left: 15px;
    margin-top: 20px;
    /* margin: 0; */
  }
  .report-Text {
    font-size: 15px;
    /* padding: 0; */
    margin: 0;
  }
  .jeremy-Name {
    font-size: 20px;
    padding: 0;
  }
  .robson-Name {
    font-size: 20px;
    padding: 0;
  }
  .option-Container {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-top: 10px;
  }
  .optiontxt-1 {
    margin: 0;
    padding: 0;
  }
  .work-Container {
    grid-column: 1/2;
    grid-row: 2;
    margin: 0;
  }
  .play-Container {
    grid-column: 1/2;
    grid-row: 3;
    margin: 0;
  }
  .study-Container {
    grid-column: 1/2;
    grid-row: 4;
    padding: 0;
    margin: 0;
  }
  .exercise-Container {
    grid-column: 1/2;
    grid-row: 5;
  }
  .social-Container {
    grid-column: 1/2;
    grid-row: 6;
  }
  .self-Container {
    grid-column: 1/2;
    grid-row: 7;
  }
  .name-Container{
   /* padding-top: px; */
   padding-right: 30px;
display: flex;
justify-content: center;
/* margin-right: 40px; */
  }
}
